# Gere suas chaves VAPID com: npx web-push generate-vapid-keys
NEXT_PUBLIC_VAPID_PUBLIC_KEY=BEl62iUYgUivxIkv69yViEuiBIa-Ib9-SkvMeAtA3LFgDzkrxZJjSgSnfckjBJuBkr3qBURSaefAsZqAyX5o1
VAPID_PRIVATE_KEY=UUxI4O8-HoHQZ7ZQq0VWQf0TxnQZ5POq1q2OA1cJ1A0

# Email para identificação VAPID (use o seu)
VAPID_EMAIL=mailto:contato@johnatan-lopes-adv.com.br
